{{!-- 公用header --}}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>嘟嘟巴士</title>
<link rel="shortcut icon" href="{{baseUrl "/images/common/favicon.ico"}}" type="image/x-icon">
<link href="{{baseUrl "/styles/swiper/swiper.min.css"}}" rel="stylesheet">
<link href="{{baseUrl "/styles/site.min.css"}}" rel="stylesheet">
<link href="{{baseUrl "/styles/reset.css"}}" rel="stylesheet">
<!--[if lt IE 9]>
    <script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
    <script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
<![endif]-->